@import "queries";
@import "setup";
@import "variables";

// Header Styling

// header {
    
// }

// Main Section Styling

main {
    background-image: url(../assets/darkWorld.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
    
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // background: #FFA17F;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    fieldset {
        display: flex;
        flex-flow: column wrap;
        padding: 3% 0;
        margin: 3% 0;
        border: none;

        .radioQuestions {
            padding-bottom: 2%;
        }

        .radioChoices {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .sleepyTime {
                display: flex;
                flex-flow: column wrap;
            }
        }

        label {
            padding: 3% 0;
        }

        .finale {
            padding: 2% 0;
        }
    }
}

// Footer Styling

footer {
    background: $black;
}