// Partial Imports

@import "queries";
@import "setup";
@import "variables";

// Header Styling

header {
    background-image: url(../assets/aboveTheClouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    .sleepIntro {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

p {
    padding: 15% 0;
}


// Main Section Styling

main {

    fieldset {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 15% 0;
        border: none;

        .radioQuestions {
            padding-bottom: 2%;
        }

        .radioChoices {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .answerThree {
            padding-right: 10%;
        }

        label {
            padding: 15% 0;
        }

        .finale {
            padding: 2% 0;
        }
    }

    .time {
        background: $lightteal;

        p,
        label {
            color: $black;
        }
    }

    .hours {
        background: $darkteal;
    }

    .consist {
        background: $darkblue;
    }

    .finale,
    .sleepResults,
    .sleepReset {
        background: $midnight;
        padding: 5% 10%;
    }
}

// Footer Styling

footer {
    background: $black;
}